/**
 * @name TranslucencePlus
 * @version 1.2
 * @description A translucent/frosted glass Discord theme
 * @author MeowIce
 *
 * @invite jzJkA6Z
 */
@import url(https://capnkitten.github.io/BetterDiscord/Themes/Translucence/css/source.css);

:root {
	--app-bg: url(https://media.discordapp.net/attachments/877574383277834290/976147171550326894/3695752.jpg);
	--app-blur: 12px;
	--app-margin: 0px;
	--app-radius: 8px;

    --accent-hue: 192;
    --accent-saturation: 72.3%;
    --accent-lightness: 68.8%;
    --accent-text-color: #000;

	--sidebar-color: rgba(0,0,0,0.4);
	--main-content-color: rgba(0,0,0,0.2);

	--message-color: transparent;

    --mention-hue: 226;
    --mention-saturation: 77%;
    --mention-lightness: 62%;

    --reply-hue: 226;
    --reply-saturation: 77%;
    --reply-lightness: 62%;

	--message-radius: 8px;
    --message-padding-top: 0;
    --message-padding-side: 72px;

	--textarea-color: 255,255,255;
	--textarea-alpha: 0.1;
	--textarea-alpha-focus: 0.15;
	--textarea-text-color: #fff;
	--textarea-radius: 2px;

	--card-color: rgba(0,0,0, 0.4);
	--card-color-hover: rgba(0,0,0,0.5);
	--card-color-select: rgba(0,0,0,0.7);

	--interactive-normal: #aaa;
	--interactive-hover: #ddd;
	--interactive-active: #fff;
	--interactive-muted: #777;

	--background-modifier-hover: rgba(255,255,255,0.075);
	--background-modifier-selected: rgba(255,255,255,0.125);

    /* Phần font "SF Pro Display" này bạn inbox MeowIce#8543 để lấy nhe ! */
    --font-primary: "SF Pro Display","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    --font-display: "SF Pro Display","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.wrapper-30-Nkg.cozy-VmLDNB,
.wrapper-30-Nkg.compact-2Nkcau {
    margin-left: 12px;
    margin-right: 12px;
}

.repliedMessage-3Z6XBG:before {
    transform: none;
}

.replyAvatar-sHd2sU,
.executedCommandAvatar-3oOnb1,
.repliedMessage-3Z6XBG > .replyBadge-LMm_Ic {
    margin-left: 0;
}

.homeIcon-r0w4ny {
    display: none;
}

.tutorialContainer-1pL9QS .wrapper-3kah-n .childWrapper-1j_1ub {
    background-color: transparent;
}

.tutorialContainer-1pL9QS .wrapper-3kah-n .childWrapper-1j_1ub:before {
    position: absolute;
    content: " ";
    width: 48px;
    height: 48px;
    background-image: url(https://media.discordapp.net/attachments/877574300679413812/944888319756619776/meow_uwu_avt.png);
    background-size: contain;
    border-radius: 40%;
}

.wrapper-30-Nkg.cozy-VmLDNB,
.wrapper-30-Nkg.compact-2Nkcau {
    margin-left: 0;
    margin-right: 0;
    border: none;
}

.wrapper-30-Nkg.groupStart-3Mlgv1 .avatar-2e8lTP {
    top: unset;
    left: 16px;
}

.repliedMessage-3Z6XBG:before {
    transform: none;
}

.replyAvatar-sHd2sU,
.executedCommandAvatar-3oOnb1,
.repliedMessage-3Z6XBG > .replyBadge-LMm_Ic {
    margin-left: 0;
}

.mentioned-Tre-dv,
.replying-eZ7p5z {
    border-radius: 0;
    box-shadow: none !important;
}

.mentioned-Tre-dv:before,
.replying-eZ7p5z:before {
    display: block;
}

.mentioned-Tre-dv {
    --message-color: hsla(var(--mention-hsl),0.2);
}

.replying-eZ7p5z {
    --message-color: hsla(var(--reply-hsl),0.2);
}

.mentioned-Tre-dv:before {
    background-color: hsl(var(--mention-hsl));
}

.replying-eZ7p5z:before {
    background-color: hsl(var(--reply-hsl));
}

.markup-eYLPri code,
.spoilerText-27bIiA.hidden-3B-Rum {
    --message-color: rgba(39, 39, 39, 0.137);
}

.reaction-2A2y9y,
.markup-eYLPri code,
.spoilerText-27bIiA.hidden-3B-Rum {
    --message-color: rgba(0, 0, 0, 0.329);
}

.repliedMessage-3Z6XBG .replyAvatar-sHd2sU,
.repliedMessage-3Z6XBG .replyBadge-LMm_Ic {
    margin-left: 0;
}

.embedFull-1HGV2S,
[class*=theme-] .invite-3uuHYQ,
[class*=theme-] .wrapperAudio-1Bzv_Z,
.wrapper-1HIH0j,
.attachment-1PZZB2,
[class*=theme-] .tile-2mmK5T,
[class*=theme-] .tile-2mmK5T:hover {
    background-color:rgba(39, 39, 39, 0.4);
    border-radius: 6px;
}
